* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: #659dbd;
}

/* Mobile responsive */
.header {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 20px;
}

.win-annoucement {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    margin: 10px auto;  
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
}

/* GAME PATTERN */
.game-pattern {
    /* Make 4x4 board */
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 20px;
    align-self: center;
}

.game-pattern button {
    width: 70px;
    height: 70px;
    border: 3px solid #8d8741;
    border-radius: 10px;
    background-color: #fbeec1;
}

.game-pattern button:hover {
    cursor: pointer;
}
/* GAME PATTERN END */

/* CONTROL PATTERN */
.control-pattern {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.big-text {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    
}
#flip-time {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.control-btn {
    width: 140px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #8d8741;
    border-radius: 15px;
    background-color: #fbeec1;
}
.control-btn:hover {
    background-color: #8d8741;
    color: #fbeec1;
    cursor: pointer;
}
.start-btn:disabled {
    background-color: #8d8741;
    color: #fbeec1;
    cursor: not-allowed;
}
/* CONTROL PATTERN END */

    
/* Desktop responsive */
@media only screen and (min-width: 768px) {
    .header {
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .win-annoucement {
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        color: #fff;
        margin: 20px auto;  
    }
    
    .game-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;

        height: 75vh;
    }
    
    /* GAME PATTERN */
    .game-pattern {
        /* Make 4x4 board */
        display: grid;
        grid-template-columns: repeat(4, 160px);
        row-gap: 20px;
    }
    
    .game-pattern button {
        width: 120px;
        height: 120px;
        border: 5px solid #8d8741;
        border-radius: 20px;
        background-color: #fbeec1;
    }
    
    .game-pattern button:hover {
        cursor: pointer;
    }
    /* GAME PATTERN END */
    
    /* CONTROL PATTERN */
    .control-pattern {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .control-pattern > * {
        margin: 20px auto;
    }
    .big-text {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
    }
    #flip-time {
        color: #fff;
        font-size: 60px;
        font-weight: bold;
    }
    .buttons button {
        margin: auto 20px;
    }
    .control-btn {
        width: 180px;
        height: 80px;
        font-weight: bold;
        font-size: 24px;
        border: 5px solid #8d8741;
        border-radius: 20px;
        background-color: #fbeec1;
    }
    .control-btn:hover {
        background-color: #8d8741;
        color: #fbeec1;
        cursor: pointer;
    }
    .start-btn:disabled {
        background-color: #8d8741;
        color: #fbeec1;
        cursor: not-allowed;
    }
    /* CONTROL PATTERN END */
}